<section class="hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Ashborne" %></h1>
</section>

<ul id='msg-log' class='row'></ul>

<section class="row">
  <article class="column column-20">
    <input type="text" id="user" class="form-control" placeholder="username" autofocus>
  </article>
  <article class="column column-80">
    <input type="text" id="msg" class="form-control" placeholder="message">
  </article>
</section>
